.card-container {
    display: flex;
    flex-direction: column;
    margin-top: 1.5vh;
    font-family: 'Quicksand',sans-serif !important;
    /* width: 80%; */
    /* background-color: aqua; */
}

.plate-name {
    font-weight: 900;
}