.section-container {
    /* width: 65%; */
    height: auto;
    background-color: rgba(0, 0, 0, 0.705);
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* justify-self: flex-start; */
    padding: 10px;
    flex-direction: column;
}

.section-title {
    font-size: 2em;
    font-weight: 900;
}